@using Humanizer
@using IFS.Web.Core.Upload
@model FilesOverviewModel

@{
    ViewBag.Title = "Uploaded file overview";
}

<ifs-page-title>@ViewBag.Title</ifs-page-title>

@{
    var sortedFiles = Model.Files.OrderBy(x => x.Metadata.OriginalFileName);
}


<table class="table table-striped">
    <thead>
    <tr>
        <th>Type</th>
        <th>ID</th>
        <th>File name</th>
        <th>Last downloaded on</th>
        <th>Uploaded / Created at</th>
        <th>By</th>
        <th>Expires</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var file in sortedFiles) {
        var lastAccess = file.Metadata.Access.LogEntries.OrderByDescending(x => x.Timestamp).FirstOrDefault()?.Timestamp.Humanize() ?? "Never";

        if (!file.IsUnusedReservation) {
            <tr>
                <td>
                    @if (!file.Metadata.IsReservation) {
                        <span class="fas fa-file tip" title="This is an uploaded file via password authentication"></span>
                    } else {
                        <span class="con-file-reservation tip" title="This is an uploaded file via an invitation">
                            <span class="fas fa-file"></span>
                            <span class="fa fa-clock"></span>
                        </span>
                    }
                </td>
                <td><code>@file.Id</code></td>
                <td>
                    <a asp-route="DownloadFile" asp-route-id="@file.Id">@file.Metadata.OriginalFileName</a>
                </td>
                <td>
                    <a asp-action="Log" asp-route-id="@file.Id">@lastAccess</a>
                </td>
                <td>
                    @file.Metadata.UploadedOn.Humanize()
                </td>
                <td>
                    @{
                        ContactInformation? sender = file.Metadata.Sender;

                        if (sender != null) {
                            string? name = String.IsNullOrEmpty(sender.Name) ? sender.EmailAddress : sender.Name;
                            bool nameOnly = !String.IsNullOrEmpty(sender.EmailAddress);

                            if (nameOnly) {
                                @name
                            } else {
                                <a href="mailto:@sender.EmailAddress">@name</a>
                            }
                        } else {
                            <i>Not available</i>
                        }
                    }
                </td>
                <td>
                    @file.Metadata.Expiration.Humanize() (@file.Metadata.Expiration.ToString("g"))
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@file.Id" asp-antiforgery="true">
                        <button class="btn btn-sm btn-danger">
                            <span class="fas fa-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
         } else {
            <tr>
                <td><span class="fas fa-clock tip" title="This is an unused upload invitation link"></span></td>
                <td><code>@file.Id</code></td>
                <td>
                    (no file uploaded yet)
                </td>
                <td>
                    (reservation)
                </td>
                <td>
                    @file.Metadata.UploadedOn.Humanize()
                </td>
                <td>
                    @{
                        ContactInformation? sender = file.Metadata.Sender;

                        if (sender != null) {
                            string? name = String.IsNullOrEmpty(sender.Name) ? sender.EmailAddress : sender.Name;
                            bool nameOnly = String.IsNullOrEmpty(sender.EmailAddress);

                            if (nameOnly) {
                                @name
                            } else {
                                <a href="mailto:@sender.EmailAddress">@name</a>
                            }
                        } else {
                            <i>Not available</i>
                        }
                    }
                </td>
                <td>
                    @file.Metadata.Expiration.Humanize() (@file.Metadata.Expiration.ToString("g"))
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@file.Id" asp-antiforgery="true">
                        <button class="btn btn-sm btn-danger">
                            <span class="fas fa-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
         }
    }
        
    @if (Model.Files.Count == 0) {
        <tr>
            <td colspan="8">
                <strong>Its empty!</strong> No files have been uploaded yet.
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a class="btn btn-default" asp-controller="UploadLink" asp-action="Index" asp-area="Administration">
        <span class="fas fa-link"></span>
        Create upload link
    </a>

    <partial name="_LogOffButton"/>
</div>

@section scripts {
    <script>window.app.setTooltips('.tip');</script>
}